Source: etckeeper
Section: admin
Priority: optional
Build-Depends: debhelper (>= 5), dpkg-dev (>= 1.9.0)
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.7.2
Vcs-Git: git://git.kitenet.net/etckeeper

Package: etckeeper
Architecture: all
Section: admin
Depends: metastore, git-core, ${misc:Depends}
Description: store /etc in git
 etckeeper is a collection of tools to let /etc be stored in a git
 repository. It hooks into apt to automatically commit changes made to /etc
 during package upgrades. It uses `metastore` to track file metadata that
 git does not normally support, but that is important for /etc, such as the
 permissions of `/etc/shadow`. It's quite modular and configurable, while
 also being simple to use if you understand the basics of working with git.

